<!--NO 1-->
<li>Агар Исо ҳазорон бори дигар</li>
<p>Ба дунё зиндагони гирад аз сар,</p>
<p>Кунад равшан зи нав дунёи моро,</p>
<p>Шифо бахшад ҳама дардҳои моро,</p>
<p>|: Вале дар қалби мо ворид нагардад,</p>
<p>Умеди мо саросар ҳеҷ гардад. :|</p><br>

<li>Агар Исо ҳазорон бори дигар</li>
<p>Ба дунё зиндагони гирад аз сар,</p>
<p>Ба худ хонад ҳама заҳматкашонро,</p>
<p>Бибахшад зиндагони мурдагонро,</p>
<p>|: Вале дар қалби мо ворид нагардад,</p>
<p>Умеди мо саросар ҳеҷ гардад. :|</p><br>

<li>Агар Исо ҳазорон бори дигар</li>
<p>Ба дунё зиндагони гирад аз сар,</p>
<p>Намоёнад ба инсон роҳу чора,</p>
<p>Шавад маслубу бархезад дубора,</p>
<p>|: Вале дар қалби мо ворид нагардад,</p>
<p>Умеди мо саросар ҳеҷ гардад. :|</p>

<!--NO 5-->
<li>Танҳо Исо бошад Соҳиби дилам,</li>
<p>Танҳо Исо он ҷо сокин шавад.</p>
<p>Муҳаббати Ӯро монанд набошад,</p>
<p>Танҳо назди Ӯ роҳат меёбам.</p><br>

<p><em>Бандгардон:</em></p>
<p>Ғаме надораму гиря накунам,</p>
<p>Худовандам Исо назди ман аст.</p>
<p>Ӯ фармуда, ки дастамро мегирад,</p>
<p>Барад он ҷо, ки доим роҳат аст.</p><br>

<li>Танҳо Исо кард аз гуноҳам озод,</li>
<p>Танҳо Ӯ дар ҳаққи ман эҳсон кард.</p>
<p>Диламро бишкофт бо меҳри азимаш,</p>
<p>Он гоҳ оромиши осмони дод.</p><br>

<li>Вақте дар набард нотавон мешавам,</li>
<p>Танҳо Исо ба ман қувват бахшад.</p>
<p>Аз чашми ҳаёти Ӯ менӯшам,</p>
<p>Доим қуввати тоза меёбам.</p><br>

<li>Исо дар ин набард пирӯзам кунад,</li>
<p>Маро назди Худо осмон барад.</p>
<p>Дар он ҷо ҳамеша шоди хоҳам кард,</p>
<p>Роҳату ором дар оғӯши Ӯ.</p>